{% extends 'base.html.twig' %}

{% block title %}Editar educatión{% endblock %}

{% block body %}

    <div class="row justify-content-center mb-3">
        {% include 'comunes/_menu.html.twig' %}

        {% include 'comunes/_form.html.twig' with {'titulo': 'Editar educación'} %}
    </div>

{% endblock %}
